.entering-wrap{
    width: 100%;
    margin-top: 50px;
    /* justify-content: center; */
}

.title{
    font-size: 24px;
    font-weight: 700;
    color: #CE976F;
    text-align: center;
}
.btn-info{
    width: 138px;
    height: 44px;
    /* display: inline-block; */
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,.6);
    border: 1px solid #CE976F;
    border-radius: 22px;
    margin: 20px auto;
}
.btn-info span{
    color: #CE976F;
    margin: 0 12px;
}
.icon-bulb{
    width: 30px;
    height: 30px;
    display: inline-block;
}
img{
    width: 100%;
    object-fit: contain;
}
.sub-title{
    display: inline-block;
}

.entering{
    width: 40%;
    margin: 24px auto 40px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #CE976F;
    padding:20px 28px;
}

.entering p{
    margin: 10px;
    font-size: 18px;
    font-weight: 700;
}

.entering span{
    font-size: 18px;
    font-weight: 400;
}

